<h1><%= @game.name %></h1>
<h3>Number of Rounds:</h3>
<%= @game.number_of_rounds %>
<h3>Players:</h3>
<ul>
  <% @game.players.each do |player| %>
    <li><%= player.username %></li>
  <% end %>
</ul>

<%= link_to "Start Round", game_round_path(@game, @round) %>
