<h2>WHITE CARDS:</h2>
<ul>
  <div class="grid">
    <% @cards.select do |card| %>
    <% if card.black == false%>
    <div class="ui card button toggle game_card">
      <%= link_to card.content, card_path(card) %>
    </div>
    <% end %>
    <% end %>
  </div>
</ul>

<h2>BLACK CARDS:</h2>
<ul>
  <div class="grid">
  <% @cards.select do |card| %>
  <% if card.black == true%>
  <div class="ui card button toggle" id="black_card">
    <%= link_to card.content, card_path(card) %>
  </div>
    <% end %>
  <% end %>
  </div>
</ul>
