// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#black_card{
  background: #0e1111;
}

#black_card :link{
  color: white;
}

#black_card :hover{
  color: #800000;
}

.game_card :hover{
  color: black;
}
